@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-brand-50: #fafaf9;
    --color-brand-100: #f5f5f4;
    --color-brand-200: #e7e5e4;
    --color-brand-350: #d6d3d1;
    --color-brand-500: #d95d39;
    --color-brand-600: #c24b2a;
    --color-brand-700: #a33b20;
    --color-brand-800: #782d19;
    --color-brand-900: #44180d;
    --color-brand-950: #0c0a09;

    --color-accent: #d95d39;
    --color-accent-content: #d95d39;
    --color-accent-foreground: #ffffff;

    --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
}

@layer theme {
    .dark {
        --color-accent: #f0714d;
        --color-accent-content: #f0714d;
        --color-accent-foreground: #0c0a09;
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
